In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("INFRATEL.csv")

In [4]:
data.shape

(494, 15)

In [5]:
data.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [6]:
data.head(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFRATEL,EQ,15-May-2017,374.70,375.80,375.80,368.65,372.00,371.05,371.08,761032,2.824044e+08,27740,357531,46.98
1,INFRATEL,EQ,16-May-2017,371.05,371.15,380.85,370.05,375.75,376.55,377.05,1346372,5.076459e+08,42924,677288,50.30
2,INFRATEL,EQ,17-May-2017,376.55,377.60,396.50,375.10,388.95,389.90,383.22,2268036,8.691629e+08,83975,1371275,60.46
3,INFRATEL,EQ,18-May-2017,389.90,388.40,388.85,377.00,378.55,378.90,382.60,2014628,7.707910e+08,50270,1025637,50.91
4,INFRATEL,EQ,19-May-2017,378.90,381.10,387.50,374.85,379.40,378.95,379.43,2031322,7.707525e+08,63099,1020560,50.24
5,INFRATEL,EQ,22-May-2017,378.95,383.70,389.30,376.15,388.20,387.95,385.56,2772691,1.069052e+09,73071,1228540,44.31
6,INFRATEL,EQ,23-May-2017,387.95,385.00,390.00,378.40,379.90,379.85,382.84,3811223,1.459071e+09,60957,2039492,53.51
7,INFRATEL,EQ,24-May-2017,379.85,379.85,382.00,367.20,368.45,369.00,372.49,3134390,1.167521e+09,83856,1860115,59.35
8,INFRATEL,EQ,25-May-2017,369.00,369.10,376.35,365.85,368.70,373.50,371.80,7287977,2.709680e+09,89929,6053646,83.06
9,INFRATEL,EQ,26-May-2017,373.50,370.00,377.20,366.30,369.50,369.95,371.45,1918463,7.126107e+08,43541,788763,41.11